

main {
    width: 100vw;
    min-height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

header {
    display: flex;
    width: 100vw;
    height: 90px;
    align-items: center;
    justify-content: center;
}

.call-containers {
    width: 90vw;
    height: fit-content;
    display: grid;
    align-items: stretch;
    justify-content: stretch;
    min-height: 50vh;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}


.titlecard {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.titlecard article {
    width: 80vw;
}

.titlecard h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
}

.titlecard h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2rem;
}

main section {
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 5px;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.varaa-aika {
    position: relative;
}

main section h2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    text-decoration: underline wavy #007e31;
}

main section img {
    height: 80px;
    width: min-content;
}

main section:first-of-type h2 {
    text-decoration: underline #ef4622 wavy;
}

.general-button {
    width: fit-content;
    display: flex;
    gap: 2px;
}

@media only screen and (max-width: 720px) {
    .call-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .call-containers section {
        width: 90vw;
        margin: 0 !important;
    }

    main section img {
        width: 100px;
        height: auto;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    animation: load .5s ease-in-out;
}

html {
    overscroll-behavior: none;
    background: rgb(82,111,199);
    background: radial-gradient(circle, rgba(82,111,199,1) 0%, rgba(39,39,39,1) 100%);
}

.active-button {
    color: #597BE1 !important;
    text-decoration: none !important;
}
.general-button {
        padding: 10px;
        color: white !important; 
        font-style: normal;
        border-radius: 20px;
        background-color: #597BE1;
        text-align: center;
        text-decoration: none;
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-style: normal;
        transition: all .5s ease;
}

.general-button:hover {
    background-color: #0000ff;
    transition: background-color blue;
}

main {
    width: 100vw;
    z-index: 1;
}

body {
    overflow-x: hidden;
    overscroll-behavior: none;
}

.logo a {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.active {
    color: white !important;
    font-style: normal !important;
    text-decoration: none !important;
}

.active-button {
    background-color: #597BE1 !important;
}

footer {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    font-style: normal;
    width: 100vw;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    padding: 50px 0 50px 0;
}

footer a {
    color: white;
    background-color: #597BE1;
    transition: all .5s ease;
}

footer a:hover {
    transition: background-color blue;
    background-color: blue;
}

footer section:first-of-type {
    display: flex;
    align-items: flex-start;
    width: 80vw;
}

.excl-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@keyframes load {
    0% {opacity: 0;}
    50% {opacity: .5;}
    100% {opacity: initial;}
}