main {
    background-color: white;
    min-height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

main p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

main h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
    font-weight: 500;
}

main h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

main li + li {
    margin-top: 10px;
}


.nimi {
    display: flex;
    align-items: center;
}

.about-me-full {
    width: 80vw;
}


.koulutus {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.koulutus img {
    height: 50px;
    padding-right: 15px;
}

.section-margin {
    margin-top: 25px;
}

.description p {
    font-size: 18px;
}

main ul {
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

main li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.kids {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 18px;
}