* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header-container {
    position: fixed;
    z-index: 7;
    width: 100vw;
    display: flex;
    backdrop-filter: 20px;
    justify-content: center;
    background-color: #272727;
}

.header-container-clone {
    position: relative;
    width: 100vw;
    height: 70px;
    background-color: #272727;
}

.active-button {
    color: #597BE1 !important;
    text-decoration: none !important;
}

header {
    width: 80vw;
    height: 70px;
    z-index: 8;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    backdrop-filter: 20px;
    justify-content: space-between;
}

.general-button {
        padding: 10px;
        color: white !important; 
        font-style: normal;
        border-radius: 20px;
        background-color: #597BE1;
        text-align: center;
        text-decoration: none;
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-style: normal;
        transition: all .5s ease;
}

.general-button:hover {
    background-color: blue;
    transition: background-color blue;
}

nav {
    display: flex;
    flex-direction: row;
    font-weight: 800;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: italic;
}

nav a {
    margin-right: 15px;
    padding: 0 3px 0 3px;
    color: white;
    z-index: 9;
    background-color: transparent;
    text-decoration: none;
    transition: all .5s ease;
}

nav a:hover {
    transition: color #597BE1;
    text-decoration: underline wavy;
    color: #597BE1;
}

nav a:last-child {
    padding: 10px;
    color: white !important; 
    font-style: normal;
    border-radius: 20px;
    background-color: #597BE1;
    text-align: center;
}

nav a:last-child:hover {
    transition: background-color blue;
    background-color: blue;
}

main {
    width: 100vw;
    z-index: 1;
}

body {
    background-color: #272727;
    overflow-x: hidden;
}


.logo a {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.active {
    color: white !important;
    font-style: normal !important;
    text-decoration: none !important;
}

.active-button {
    background-color: #597BE1 !important;
}

footer {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.05rem;
    font-style: normal;
    width: 100vw;
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #272727;
    padding: 50px 0 50px 0;
}

footer a {
    color: #597BE1;
    transition: all .5s ease;
}

footer a:hover {
    transition: color blue;
    text-decoration: underline wavy;
    color: blue;
}

footer section:first-of-type {
    display: flex;
    align-items: flex-start;
    width: 80vw;
}

.excl-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}




@media only screen and (max-width: 1110px) {
    .description-container {
        flex-direction: column-reverse;
        padding-bottom: 40px;
        text-align: center;
    }

    .description-container p {
        text-align: center;
    }

    .description-container div {
        padding: 40px;
    }

    .arrow {
        visibility: hidden;
    }

    .general-button {
        padding: 10px 40px 10px 40px;
    }
}

.burgernav {
    display: none;
}

@media only screen and (max-width: 1030px) {
    nav a:not(:last-child) {
        display: none;
    }

    header {
       display: grid;
       grid-template-columns: 5fr 1fr 1fr;
       grid-row: 1fr;
    }

    .logo {
        grid-area: 1 / 1 / 1 / 1;
        text-align: left;
    }

    .appt-button {
        grid-area: 1 / 2 / 1 / 2;
    }

    .burgernav {
        display: flex;
        background-color: #272727;
        grid-area: 1 / 3 / 1 / 3;
    }

    .off-screen {
        background-color: white;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        transition: .3s ease;
        text-align: right;
    }

    .off-screen a {
        font-family: 'Roboto Slab', sans-serif;
        color: #597BE1;
        text-decoration: none;
        font-style: italic;
        transition: all .3s ease;
    }

    .off-screen a:hover {
        transition: color blue;
        text-decoration: underline wavy;
        color: blue;
    }

    .active {
        display: none;
    }

    .off-screen li {
        list-style-type: none;
    }


    .off-screen.act2 {
        right:0;
    }

    .hamburger {
        height: 70px;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .hamburger span {
        height: 5px;
        width: 100%;
        background-color: #597BE1;
        border-radius: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
        visibility: visible;
    }

    .hamburger span:first-child {
        top: 33.3%;
    }

    .hamburger span:last-child {
        top: 66.6%;
    }
    
    .hamburger.act2 span:first-child {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamburger.act2 span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.act2 span:last-child {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@media only screen and (max-width: 440px) {
    .appt-button {
        display: none;
    }

    #hamburger-button {
        color: white;
        background-color: #597BE1;
        font-style: normal;
        padding: 0 2px 0 2px;
    }
}